*{
    margin: 0px;
    padding: 0px;
}

.navigation{  
   display:flex;
   align-items: center;
   justify-content: space-between;
}

header{
  position: fixed;
  display:flex; 
  left:20px;

}

.list{
   display:flex;
   align-items: center;
   list-style: none;
}
.logo{
    width: 230px;
    height: 66px;
    top: 34px;
    left: 49px;
    border-radius: 123.5px
}
.li1{
   width: Fixed (96px);
   height: Hug (49px);
   top: 44px;
   left: 287px;
   padding: 10px;
  
   justify-content: space-between;
}
.li2{
    width: Fixed (245px);
    height: Fixed (49px);
    top: 43px;
    left: 896px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    justify-content: right;
    margin-left:450px ;
}
.li3{
    width: 223px;
    height: 49px;
    top: 43px;
    left: 1168px;
    border-radius: 23.5px;
    align-items: center;
    margin-top: 25px;
}
.for image{
    position: relative;
    display:flex;
}
#image1{
    width: 1150px;
    height: 742px;
    top: 155px;
    left: 27px;
    border-radius: 50px;
    margin-top: 90px;
    margin-left:10px;
    
}
#image2{
    width: 475px;
    height: 303px;
    top: 353px;
    right: 60px;
    position: absolute;
    display:inline-block;
}
.text{
    color:rgb(42,84,97);
    font-weight: 900;
    position: absolute;
    top:60%;
    left:10%;
    text-align: center;
}
#search{
    top: 533px;
    left: 110px;
    border-radius: 0px 19px 0px;
    position: absolute;
    left:80px;
    top:430px;
}
.visit{
    position:absolute;
    display:flex;
    width: Fixed (331px);
    height: Hug (25px);
    top: 632px;
    left: 123px;
    top:88%;
   list-style: none;
   
}
.visit>li{
    margin:5px ;
    color:rgb(172,186,194);
}
#hand{
    width: 675px;
    height: 460px;
    top: 968px;
    left: 49px;
    border-radius: 15px;
    margin-top:5% ;
}
.explore{
    display:flex;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align:center;
    color: #404040;
    margin-right: 110px;
    display: inline-flex;
    align-items: right;
    position:absolute;
    margin-left:680px;
    top:160%;
}
.para{
    width: Fixed (612px);
    height: Hug (29px);
    top: 1090px;
    left: 750px;
    margin-right: 30px;
    display: flex;
    align-items: right;
    position:absolute;
    top:168%;
    position: absolute;
    color: #817f7f;
    justify-content: space-between;
}   
#date{
    
        display:flex;
        position:absolute;
        margin-left:250px;
        top:180%;
}
.lorem{
    width: 624px;
    height: 348px;
    top: 1065px;
    left: 680px;
    color:rgb(139, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: px;
    display: flex;
    align-items: right;
    position:absolute;
    top:175%;
    line-height:20px ;
    justify-content: space-between;
}
.other{
    display: flex;
}
#bulb{
    width: 372px;
    height: 361px;
    top: 1405px;
    left:0px;
    position: absolute;

}
#bulb1{
    
    width: 372px;
    height: 361px;
    top: 1405px;
    left: 380px;
    position: absolute;
}
#bulb2{
    width: 372px;
    height:361px;
    top: 1405px;
    left: 762px;
    position: absolute; 
}
.post{
    color:rgb(74,72,72);
    align-items: center;
    margin-left: 30px;
    margin-top: 415px;
}
.para1{
    width: Fixed (612px);
    height: Hug (29px);
    margin-top: 5px;
    font-weight: 00;
    color:rgb(168,167,164);
}

#date{
    width: Fixed (612px);
    height: Hug (29px);
    margin-top:-15px;
    color:rgb(168,167,164);
    font-style: normal;
}
    
.ipsum{
    font-weight:100;
    font-style:normal;
    margin-right:950px;
    margin-top:0px;
    color:rgb(104, 103, 100);
    font-family:Arial, Helvetica, sans-serif;
}
#see{
    margin-left:100px ;
    color:rgb(104, 103, 100);
}
.post1{
    color:rgb(74,72,72);
    align-items: center;
    margin-left:400px;
    margin-top:-155px;
    position: absolute;
}
.para2{
    width: Fixed (612px);
    height: Hug (29px);
    margin-top: 5px;
    font-weight: 00;
    color:rgb(168,167,164);
    margin-left:400px;
    margin-top:-130px;
    position: absolute;
}
.ipsum1{
    font-weight:100;
    font-style:normal;
    margin-right:530px;
    color:rgb(104, 103, 100);
    font-family:Arial, Helvetica, sans-serif;
    margin-left:400px;
    margin-top:-110px;
    position: absolute;
}
#see1{
    margin-left:550px ;
    color:rgb(104, 103, 100);
    
}
.post2{
    color:rgb(74,72,72);
    align-items: center;
    margin-left:810px;
    margin-top:-175px;
    position: absolute;
}
.para3{
    width: Fixed (612px);
    height: Hug (29px);
    margin-top: 5px;
    font-weight: 00;
    color:rgb(168,167,164);
    margin-left:800px;
    margin-top:-145px;
    position: absolute;
}
.ipsum2{
    font-weight:100;
    font-style:normal;
    margin-right:530px;
    color:rgb(104, 103, 100);
    font-family:Arial, Helvetica, sans-serif;
    margin-left:800px;
    margin-top:-110px;
    position: absolute;
    margin-right: 20px;
}
#see2{
    margin-left:1050px ;
    color:rgb(104, 103, 100);
}
.for image1{
    position: relative;
    display:flex;
}
#image3{
    width: 1150px;
    height: 600px;
    top: 155px;
    left: 27px;
    border-radius: 10px;
    margin-top: -5px;
    margin-left:10px;
    
}
#makeup{
    width: 475px;
    height: 303px;
    top: 2098px;
    right: 60px;
    position: absolute;
    display:inline-block;
    align-items: center;
}
.load{
    font-weight: 500;
    position: absolute;
    top:2070px;
    left:10%;
    text-align: center;
    color:rgb(104, 103, 100);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.edureca{
    font-weight:300;
    position: absolute;
    top:2090px;
    left:10%;
    text-align: center;
    color:rgb(37,38,37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.learn{
    font-weight: 100;
    position: absolute;
   top:366%;
    left:10%;
    text-align: center;
    color:rgb(85, 86, 86);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#last{

    position: absolute;
    margin-top:-260px ;
    left:10%;
    text-align:center ;
    color: white;
    font-size: 16px;
    background-size: cover;
    border: 1px solid rgb(131, 112, 112);
    background-color:rgb(78, 138, 149);
    width:255px;
    height: 50px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
